### Data missing values and duplicate found out

In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("sales_returns.csv")
df

,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,cust_age,cust_gender,segment,country,...,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit,returned
0,CA-2015-143336,27/08/15,01/09/15,Second Class,ZD-21925,Zuschuss Donatelli,19,Female,Consumer,United States,...,West,OFF-AR-10003056,Office Supplies,Art,Newell 341,8.560,2,0.0,2.4824,True
1,CA-2015-143336,27/08/15,01/09/15,Second Class,ZD-21925,Zuschuss Donatelli,19,Female,Consumer,United States,...,West,TEC-PH-10001949,Technology,Phones,Cisco SPA 501G IP Phone,213.480,3,0.2,16.0110,True
2,CA-2015-143336,27/08/15,01/09/15,Second Class,ZD-21925,Zuschuss Donatelli,19,Female,Consumer,United States,...,West,OFF-BI-10002215,Office Supplies,Binders,"Wilson Jones Hanging View Binder, White, 1""",22.720,4,0.2,7.3840,True
3,CA-2017-111682,17/06/17,18/06/17,First Class,TB-21055,Ted Butterfield,20,Female,Consumer,United States,...,East,OFF-ST-10000604,Office Supplies,Storage,Home/Office Personal File Carts,208.560,6,0.0,52.1400,True
4,CA-2017-111682,17/06/17,18/06/17,First Class,TB-21055,Ted Butterfield,20,Female,Consumer,United States,...,East,OFF-PA-10001569,Office Supplies,Paper,Xerox 232,32.400,5,0.0,15.5520,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1297,US-2015-143287,11/11/15,17/11/15,Standard Class,KN-16705,Kristina Nunn,19,Female,Home Office,United States,...,East,OFF-PA-10004039,Office Supplies,Paper,Xerox 1882,223.920,4,0.0,109.7208,True
1298,US-2015-143287,11/11/15,17/11/15,Standard Class,KN-16705,Kristina Nunn,24,Male,Home Office,United States,...,East,OFF-SU-10001574,Office Supplies,Supplies,Acme Value Line Scissors,7.300,2,0.0,2.1900,True
1299,CA-2018-121258,26/02/18,03/03/18,Standard Class,DB-13060,Dave Brooks,21,Female,Consumer,United States,...,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332,True
1300,CA-2018-121258,26/02/18,03/03/18,Standard Class,DB-13060,Dave Brooks,23,Female,Consumer,United States,...,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932,True
1301,CA-2018-121258,26/02/18,03/03/18,Standard Class,DB-13060,Dave Brooks,21,Female,Consumer,United States,...,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200,True

In [7]:
df.isnull().sum()

order_id         0
order_date       0
ship_date        0
ship_mode        0
customer_id      0
customer_name    0
cust_age         0
cust_gender      0
segment          0
country          0
city             0
state            0
postal_code      0
region           0
product_id       0
category         0
sub_category     0
product_name     0
sales            0
quantity         0
discount         0
profit           0
returned         0
dtype: int64

In [8]:
#here we have no null values

In [9]:
df.isna()

,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,cust_age,cust_gender,segment,country,...,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit,returned
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1297,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1298,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1299,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1300,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1301,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [10]:
# here false indicate there is no such null value present in data set.

In [11]:
df.isna().sum()

order_id         0
order_date       0
ship_date        0
ship_mode        0
customer_id      0
customer_name    0
cust_age         0
cust_gender      0
segment          0
country          0
city             0
state            0
postal_code      0
region           0
product_id       0
category         0
sub_category     0
product_name     0
sales            0
quantity         0
discount         0
profit           0
returned         0
dtype: int64

In [12]:
df.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_id',
       'customer_name', 'cust_age', 'cust_gender', 'segment', 'country',
       'city', 'state', 'postal_code', 'region', 'product_id', 'category',
       'sub_category', 'product_name', 'sales', 'quantity', 'discount',
       'profit', 'returned'],
      dtype='object')

In [14]:
df['city'].isnull().sum()
# to check individual column null values.

0

In [17]:
df.isna().any()

order_id         False
order_date       False
ship_date        False
ship_mode        False
customer_id      False
customer_name    False
cust_age         False
cust_gender      False
segment          False
country          False
city             False
state            False
postal_code      False
region           False
product_id       False
category         False
sub_category     False
product_name     False
sales            False
quantity         False
discount         False
profit           False
returned         False
dtype: bool

In [18]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1297    False
1298    False
1299    False
1300    False
1301    False
Length: 1302, dtype: bool

In [19]:
df.duplicated().sum()

0