### printing in python

In [2]:
print("hello world")

hello world

### Initialization of variable

In [5]:
x=2
y=3
x,y
print(x)
print(y)

2
3

### Format function

In [7]:
a=4
b=5
print('The value of a is {} and the value of b is {}'.format(a,b))

The value of a is 4 and the value of b is 5

In [8]:
type(a)

int

### To check the data types use type()

In [10]:
type(b)

int

### Typecasting
Auto typecasting:it automatically converts one type to another
Forced TypeCasting:changing the type according to our mood by just putting what data type you need

In [18]:
type(4+5.6+False)
# here the integer automatically becomes 4.0
#False becomes 0.0

float

In [21]:
4+5.6+False
# here we are adding these terms and false be 0.0
# i.e bool<int<float

9.6

In [25]:
a=5.6
b=int(a)
print(b)
# here the variable a has float data and b is our desired variable and i want to put it in integer so typecasting here it is force one

5

### Input Function

In [27]:
a=input('please tell us your name')
print(a)

please tell us your name bijay

bijay

In [28]:
a=input('please enter any number')
b=int(a)
print(b)

please enter any number 50

50

In [29]:
type(a)

str

In [30]:
type(b)

int

### Index and slicing important one

In [32]:
a="I am a data scientist"
a

'I am a data scientist'

In [35]:
a[7:11]
#here python index starts from 0 thats why 7 is the index for d and 11 for a last one ( start index and end index slicing)

'data'

In [37]:
a[:]
# : means it comprises all index

'I am a data scientist'

In [39]:
a[0:21]
#here 0 is first one and 21 is last one

'I am a data scientist'

In [41]:
a[0:-1]
#here all the data is comprised excluding the last element 't'

'I am a data scientis'

### Negative indexing

In [46]:
a[-9:]
#here it is including scientist from right

'scientist'

In [45]:
a[:-9]
#here it is excluding the scientist one from right

'I am a data '

### Step in indexing

In [48]:
a

'I am a data scientist'

In [50]:
a[2:-1:2]
#here 2 is starting index and -1 is end index and 2 means 2 characters is jumped which is step

'a  aasini'

In [52]:
a[::-1]
#here both start and end index is fixed and step is negative which will reverse

'tsitneics atad a ma I'

In [57]:
a[-9::-1]

's atad a ma I'

### Conditional statement

In [58]:
x=1
if(x>0):
    print('positive')
else:
    print('negative')

positive

### Lists

In [60]:
l=[1,2,3,4,5,'data',6,7,8,5.6,9,True]
l

[1, 2, 3, 4, 5, 'data', 6, 7, 8, 5.6, 9, True]